$dark: #333;

$grey-6: #717175;
$grey-5: #8b8b8f;
$grey-4: #b4b4b8;
$grey-3: #dcdce0;
$grey-2: #eeeef2;
$grey-1: #f7f7f9;

$white: #fff;

$dark-green: #157123;
$green: #37a447;
$light-green: #40c353;

$dark-blue: #3f475e;
$blue: #305e95;
$light-blue: #5787bf;

$dark-orange: #c14e04;
$orange: #e77b35;
$light-orange: #eda538;

$dark-red: #af0419;
$red: #d33649;
$light-red: #f22d45;

$purple: #835994;

$brown: #935f3a;
